<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331020013270-kch3shososuh9nrnuabfp50okosrpm52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331020013270-kch3shososuh9nrnuabfp50okosrpm52</string>
	<key>API_KEY</key>
	<string>AIzaSyCbZeW3cOXrLbJ4vlmuThfsTIkP_4Caluc</string>
	<key>GCM_SENDER_ID</key>
	<string>331020013270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>product.RussiaNews</string>
	<key>PROJECT_ID</key>
	<string>russianews-171bd</string>
	<key>STORAGE_BUCKET</key>
	<string>russianews-171bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331020013270:ios:7d158121b88d1a43a40377</string>
	<key>DATABASE_URL</key>
	<string>https://russianews-171bd.firebaseio.com</string>
</dict>
</plist>